<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">FlaskFrontEnd</a>
        <button title="Navigation menu" class="navbar-toggler" onclick="toggleNavMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div id="navMenu" class="collapse nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="{{ url_for('index') }}">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="{{ url_for('counter') }}">
                <span class="bi bi-plus-square-fill-nav_menu" aria-hidden="true"></span> Counter
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="{{ url_for('weather') }}">
                <span class="bi bi-list-nested-nav_menu" aria-hidden="true"></span> Weather
            </a>
        </div>
    </nav>
</div>

<script>
    function toggleNavMenu() {
        document.getElementById("navMenu").classList.toggle("collapse");
    }
</script>
